
body {
  background-color: #000000;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 52%;
  min-height: 100vh;
  padding: 20px; 
  border: 1px solid rgb(102, 100, 100);
  border-radius: 10px;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #1b1a1a;
  border-radius: 10px;
  margin-top: 10px;
}


.user-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.send-button {
  background-color: #b8b9b9;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  align-self: flex-start; 
}

.text-container {
  padding: 8px 20px;
  color: #000000;
  border-radius: 10px;
  background-color: #506c8f;
  margin-right: 20px;
}

.chat-message {
  display: flex;
  justify-content: space-between;
  margin: 9px;
  align-items: center;
}

.user .text-container {
  background-color: #ffffff;
}

.assistant .text-container {
  background-color: #c1bcbc; 
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 35px;
}

/* .gif-image {
  max-width: 100%;
  height: auto;
  align-self: flex-start; 
} */

.app-container {
  display: flex;
  justify-content: space-between;
}



/* Adjust the size of the Play and Stop images inside buttons with class 'play-button' */
button.play-button img {
  width: 40px; /* Adjust the width as needed */
  height: 33px; /* Adjust the height as needed */
  cursor: pointer;
}

/* You can also specify the size for 'stop-button' images, if needed */
button.stop-button img {
  width: 40px; /* Adjust the width as needed */
  height: 33px; /* Adjust the height as needed */
  cursor: pointer;
}

.lcpt-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


